EMS_DB_URL=jdbc:postgresql://127.0.0.1:15434/ems_cloud_v2_proto
EMS_DB_USERNAME=ems_proto_app
EMS_DB_PASSWORD=
EMS_CH_URL=http://127.0.0.1:18125
EMS_CH_DATABASE=ems_cloud_v2_proto_telemetry
EMS_CH_USERNAME=ems_proto_reader
EMS_CH_PASSWORD=
EMS_MFA_ENCRYPTION_KEY=
EMS_CORS_ORIGINS=http://localhost:8443,http://127.0.0.1:8443
EMS_PORT=18090
